.Titre-page-produit{
    color:#34495e;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
  }

  .Home{
    background-color: #F2F2F2;
    padding-bottom: 5%;
  }
  
  .BookList{
    background-color: #DDCECE;
    padding-bottom: 5%;
  }

  .MangaList{
    background-color: #DDD9CE;
    padding-bottom: 5%;
  }

  .AnimeList{
    background-color: #CEDDD0;
    padding-bottom: 5%;
  }

  .MovieList{
    background-color: #D4CEDD;
    padding-bottom: 5%;
  }

  .PageProfil{
    background-color: #d9d8d3;
    padding-bottom: 5%;
  }

  .tableau{
      background-color: #34495e;
      margin-left: 5%;
      border-radius:50px;
      margin-right: 5%;
      width: 90%;
      /* overflow: scroll; */
  }

  .tableau-profil{
    background-color: #aca8a3;
    margin-top: 10px;
    margin-left: 5%;
    border-radius:50px;
    margin-right: 5%;
    width: 40%;
  }

  
.MangaList th, .AnimeList th, .MovieList th, .BookList th, .PageProfil th{
    top: 0;
    color:#e2d49e;
    padding-left: 10px;
    text-align: center;
    height: 50px;
    vertical-align: top;
    min-width: 130px;
    vertical-align: middle;
  }

  td{
    top: 0;
    color:#e2d49e;
    padding-left: 10px;
    text-align: center;
    height: 70px;
    vertical-align: top;
  }

  .Home th{
    color: #877E9D;
  }

  .Home-tab-books, .Home-tab-animes, .Home-tab-mangas, .Home-tab-movies{
    margin-left: 5%;
    border-radius:50px;
    margin-right: 5%;
    margin-top: 10px;
    width: 40%;
    height:300px;
  }
  .Home-tab-books{
    background-color: #DDCECE;
  }

  .Home-tab-mangas{
    background-color: #DDD9CE;
  }

  .Home-tab-movies{
    background-color: #D4CEDD;
  }

  .Home-tab-animes{
    background-color: #CEDDD0;
  }



