

  .Home{
    background-color: #F2F2F2;
  }
  
  .BookList{
    background-color: #DDCECE;
  }

  .MangaList{
    background-color: #DDD9CE;
  }

  .AnimeList{
    background-color: #CEDDD0;
  }

  .MovieList{
    background-color: #D4CEDD;
  }

  .PageProfil{
    background-color: #d9d8d3;
  }

  .tableau{
      background-color: #34495e;
      margin-left: 5%;
      border-radius:50px;
      margin-right: 5%;
      width: 90%;
      /* overflow: scroll; */
  }

  .tableau-profil{
    background-color: #aca8a3;
    margin-top: 10px;
    margin-left: 5%;
    border-radius:50px;
    margin-right: 5%;
    width: 40%;
  }

  
.MangaList th, .AnimeList th, .MovieList th, .BookList th, .PageProfil th{
    top: 0;
    color:#e2d49e;
    padding-left: 10px;
    text-align: center;
    height: 50px;
    vertical-align: top;
    min-width: 130px;
    vertical-align: middle;
  }

  td{
    top: 0;
    color:#e2d49e;
    padding-left: 10px;
    text-align: center;
    height: 70px;
    vertical-align: top;
  }




