

.thumbnail-img{
    object-fit: cover;
    width: 80px;
    height: 90px;
}

.wrap{
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}
.page-container{
    padding: 5% 0;
}
.page-list-title{
    color:#34495e;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
  }